# Maven built artifacts
target

# README.adoc conversor
build*

# Local installed Keycloak
/keycloak*

# Generated Logs
*.log

# Generated Tokens
*.token

# Curl response
curl.response.txt

# IntelliJ Idea
*.iml
.idea
